@model BookingListViewModel
@{
    BookingListViewModel HistoryList = ViewData["HistoryList"] as BookingListViewModel;
}
<div class="container lh-backstage" id="app">
    <div class="row">
        <div class="col-12 lh-backstage-main-section">
            <div class="lh-backstage-tutor-section position-relative w-100 mb-5"
                 id="lh-backstage-tutor-section">
                <ul class="nav nav-tabs">
                    <li class="nav-item lh-backstage-nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           data-bs-toggle="tab"
                           href="#lh-backstage-course-detail">
                            課程明細
                        </a>
                    </li>
                    <li class="nav-item lh-backstage-nav-item">
                        <a class="nav-link"
                           data-bs-toggle="tab"
                           href="#lh-backstage-history-course">歷史課程</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="container tab-pane fade show active"
                         id="lh-backstage-course-detail">
                        <div class="lh-backstage-transaction-table position-relative">
                            <button class="btn lh-backstage-submit-btn mt-3 li-backstage-publish-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#lh-backstage-tutor-data-add">
                                上架課程
                            </button>
                            <br />
                            <table class="lh-backstage-transaction-detail col-12 mt-5"
                                   border="1">
                                <thead>
                                    <tr>
                                        <td>更新日期</td>
                                        <td>課程名稱</td>
                                        <td>課程內容</td>
                                        @*  <td>體驗價</td> *@
                                        <td>25分鐘</td>
                                        <td>50分鐘</td>
                                        <td>編輯</td>
                                    </tr>
                                </thead>
                                <tbody border="1">
                                    @foreach (var item in Model.BookingList)
                                    {
                                        <tr>
                                            <td>@item.UpdateDatetime</td>
                                            <td>@item.Title</td>
                                            <td>@item.SubTitle</td>
                                            <td>@item.TrialPriceNTD.ToString("#,###")</td>
                                            <td>@item.TwentyFiveMinPriceNTD.ToString("#,###")</td>
                                            <td>@item.FiftyMinPriceNTD.ToString("#,###")</td>
                                            <td>
                                                <button class="btn lh-backstage-submit-btn"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#lh-backstage-tutor-data-edit" v-on:click="fetchBookingDetails(@item.CourseId)">
                                                    編輯
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container tab-pane fade"
                         id="lh-backstage-history-course">
                        <div class="lh-backstage-transaction-table">
                            <table class="lh-backstage-transaction-detail col-12 mt-5"
                                   border="1">
                                <thead>
                                    <tr>
                                        <td>上課時間</td>
                                        <td>課程名稱</td>
                                        <td>課程內容</td>
                                        <td>上課時長</td>
                                        <td>學員名稱</td>
                                    </tr>
                                </thead>
                                <tbody border="1">
                                    @foreach (var item in HistoryList.BookingList)
                                    {
                                        <tr>
                                            <td>@item.BookingDate.ToShortDateString()</td>
                                            <td>@item.Title</td>
                                            <td>@item.SubTitle</td>
                                            <td>NTD$ @item.CourseLength</td>
                                            <td>@item.MemberName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- screen modal for 課程明細-->
    <div class="modal fade"
         id="lh-backstage-tutor-data-edit"
         tabindex="-1"
         aria-labelledby=""
         aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content container">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="exampleModalFullscreenLabel">
                        課程明細 
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <section class="lh-backstage-lh-backstage-real-data">
                        <div class="row mb-2">
                            <div class="col-12 col-md-2">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput1"
                                           placeholder=""
                                           :value="[[ bookingDetails.category ]]" />
                                    <label for="floatingInput1">課程分類(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput2"
                                           placeholder=""
                                           :value="[[ bookingDetails.courseSubject ]]" />
                                    <label for="floatingInput2">課程科目(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="form-floating">
                                    <input type="file"
                                           class="form-control"
                                           id="floatingInput3"
                                           aria-describedby="inputGroupFileAddon04"
                                           aria-label="Upload"
                                           value="" />
                                    <label for="floatingInput3">請上傳一張自介照片(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="form-floating">
                                    <input type="file"
                                           class="form-control"
                                           id="floatingInput4"
                                           aria-describedby="inputGroupFileAddon04"
                                           aria-label="Upload"
                                           value="" />
                                    <label for="floatingInput4">請上傳一支自介影片(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="file"
                                           class="form-control"
                                           id="floatingInput5"
                                           aria-describedby="inputGroupFileAddon04"
                                           aria-label="Upload"
                                           multiple />
                                    <label for="floatingInput5">請上傳多張課程圖片(必填)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput5"
                                           placeholder=""
                                           :value="[[ bookingDetails.title ]]" />
                                    <label for="floatingInput5">課程名稱(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput6"
                                           placeholder=""
                                           :value="[[ bookingDetails.subTitle ]]" />
                                    <label for="floatingInput6">課程簡述(必填)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <div id="editor1" class="col-12">
                                        <p style="color: #999"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <div id="editor2" class="col-12">
                                        <p style="color: #999"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <!--<div class="col-12 col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput7"
                                           placeholder=""
                                           value="" />
                                    <label for="floatingInput7">金額(台幣/體驗價/堂)(必填)</label>
                                </div>
                            </div>-->
                            <div class="col-12 col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput8"
                                           placeholder=""
                                           :value="[[ bookingDetails.twentyFiveMinPriceNTD ]]" />
                                    <label for="floatingInput8">金額(台幣/25分鐘/堂)(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput9"
                                           placeholder=""
                                           :value="[[ bookingDetails.fiftyMinPriceNTD ]]" />
                                    <label for="floatingInput9">金額(台幣/50分鐘/堂)(必填)</label>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary lh-backstage-submit-btn"
                            data-bs-dismiss="modal">
                        儲存
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- screen modal for 新增課程明細-->
    <div class="modal fade"
         id="lh-backstage-tutor-data-add"
         tabindex="-1"
         aria-labelledby=""
         aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content container">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="exampleModalFullscreenLabel">
                        新增課程明細
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="lh-backstage-lh-backstage-real-data">
                        <div class="row mb-2">
                            <div class="col-12 col-md-2">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput1"
                                           placeholder=""
                                           value="" />
                                    <label for="floatingInput1">課程分類(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput2"
                                           placeholder=""
                                           value="" />
                                    <label for="floatingInput2">課程科目(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="form-floating">
                                    <input type="file"
                                           class="form-control"
                                           id="floatingInput3"
                                           aria-describedby="inputGroupFileAddon04"
                                           aria-label="Upload"
                                           value="" />
                                    <label for="floatingInput3">請上傳一張自介照片(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="form-floating">
                                    <input type="file"
                                           class="form-control"
                                           id="floatingInput4"
                                           aria-describedby="inputGroupFileAddon04"
                                           aria-label="Upload"
                                           value="" />
                                    <label for="floatingInput4">請上傳一支自介影片(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="file"
                                           class="form-control"
                                           id="floatingInput5"
                                           aria-describedby="inputGroupFileAddon04"
                                           aria-label="Upload"
                                           multiple />
                                    <label for="floatingInput5">請上傳多張課程圖片(必填)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput5"
                                           placeholder=""
                                           value="" />
                                    <label for="floatingInput5">課程名稱(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput6"
                                           placeholder=""
                                           value="" />
                                    <label for="floatingInput6">課程簡述(必填)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <div id="editor3" class="col-12">
                                        <p style="color: #999"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <div id="editor4" class="col-12">
                                        <p style="color: #999"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <!-- <div class="col-12 col-md-4">
                                 <div class="form-floating mb-3">
                                     <input type="text"
                                            class="form-control"
                                            id="floatingInput7"
                                            placeholder=""
                                            value="" />
                                     <label for="floatingInput7">金額(台幣/體驗價/堂)(必填)</label>
                                 </div>
                             </div> -->
                            <div class="col-12 col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput8"
                                           placeholder=""
                                           value="" />
                                    <label for="floatingInput8">金額(台幣/25分鐘/堂)(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput9"
                                           placeholder=""
                                           value="" />
                                    <label for="floatingInput9">金額(台幣/50分鐘/堂)(必填)</label>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary lh-backstage-submit-btn"
                            data-bs-dismiss="modal">
                        新增
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section topCSS {
    <link href="~/lib/Quill/css/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/backstage.css" />
}
@section endJS {
    <script src="~/lib/Quill/JS/quill.js"></script>
    <script src="~/js/editor.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const { createApp } = Vue;
        createApp({
            delimiters: ['[[', ']]'], // 改成 [[ ]] 來替代 {{ }}
            data() {
                return {
                    bookingDetails: {}
                };
            },
            methods: {
                fetchBookingDetails(CourseId) {
                    axios.get(`/api/PublishCourseApi/${CourseId}`)
                        .then((response) => {
                            this.bookingDetails = response.data.bookingList[0]; // 正確設置 this.bookingDetails
                            // console.log(response);
                            // console.log(response.data.bookingList);
                            // console.log(response.data.bookingList[0].courseId);

                            // console.log(this.bookingDetails);
                            // console.log(this.bookingDetails[0].courseId);
                            console.log(this.bookingDetails)
                        })
                        .catch((error) => {
                            console.error("Error fetching booking details:", error);
                        });
                }
            }
        }).mount('#app'); // mount 到 id 為 #app 的元素
    </script>

}