@model MemberProfileViewModel

@{
    var memberId = ViewData["MemberID"];
    var message = TempData["Message"]?.ToString();
    var header = TempData["Header"]?.ToString();
    var validationErrors = ViewData["ValidationErrors"] as Dictionary<string, List<string>>;
}

<div class="container lh-backstage" id="app">
    <div class="row">
        <div class="col-12 lh-backstage-main-section">
            <div class="lh-backstage-member-section mb-5">
                <section class="lh-backstage-lh-backstage-real-data">
                    <div class="row mb-2">
                        <div class="col-12">
                            <h3>基本資料</h3>
                            <div class="pic lh-backstage-user-photo-member-data">
                                <img class="lh-backstage-img"
                                     src="https://picsum.photos/100/100/?random=16"
                                     id="lh-profileimage"
                                     alt="點擊更換圖片" />
                                <input type="file" id="lh-profile-fileInput" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text"
                                       class="form-control"
                                       id="floatingInput7"
                                       value="@Model.Email"
                                       placeholder=""
                                       disabled />
                                <label for="floatingInput7">帳號</label>
                            </div>
                        </div>
                        <!-- 修改密碼 -->
                        <div class="col-12 col-md-6">
                            <button class="btn lh-backstage-submit-btn mt-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#changePasswordModal">
                                修改密碼
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text"
                                       class="form-control"
                                       id="floatingInput8"
                                       value="@Model.FirstName"
                                       placeholder=""
                                       disabled />
                                <label for="floatingInput8">名字</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text"
                                       class="form-control"
                                       id="floatingInput9"
                                       value="@Model.LastName"
                                       placeholder=""
                                       disabled />
                                <label for="floatingInput9">姓氏</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text"
                                       class="form-control"
                                       id="floatingInput1"
                                       value="@Model.Nickname"
                                       placeholder=""
                                       disabled />
                                <label for="floatingInput1">暱稱</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3">
                                <div class="d-flex align-items-center form-control" style="height: calc(3.5rem + 2px);">
                                    <div class="form-check me-3">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="gender"
                                               id="genderMale"
                                               value="1"
                                        @(Model.Gender == "男" ? "checked" : "")
                                               disabled />
                                        <label class="form-check-label" for="genderMale">男性</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="gender"
                                               id="genderFemale"
                                               value="2"
                                        @(Model.Gender == "女" ? "checked" : "")
                                               disabled />
                                        <label class="form-check-label" for="genderFemale">女性</label>
                                    </div>
                                </div>
                                <label for="genderMale" class="lh-floating-label">性別</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="floatingInput2"
                                       value="@(Model.Birthday.HasValue ? Model.Birthday.Value.ToString("yyyy-MM-dd") : "")"
                                       min="1753-01-01"
                                       disabled />

                                <label for="floatingInput2">生日</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-floating mb-3">
                                <input type="email"
                                       class="form-control"
                                       id="floatingInput10"
                                       value="@Model.Email"
                                       placeholder="name@example.com"
                                       disabled />
                                <label for="floatingInput10">電子信箱</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-floating mb-3">
                                <input type="tel"
                                       class="form-control"
                                       id="floatingInput11"
                                       value="@Model.Phone"
                                       placeholder=""
                                       disabled />
                                <label for="floatingInput11">電話</label>
                            </div>
                        </div>
                    </div>
                </section>
                <form id="memberDataForm" action="#" method="post">
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4 d-flex justify-content-end">
                            <input id="save-button"
                                   class="btn btn-info lh-backstage-submit-btn me-2 d-none"
                                   type="button"
                                   value="儲存"
                                   onclick="saveProfileData()" />

                            <input id="cancel-button"
                                   class="btn btn-secondary lh-backstage-submit-btn me-2 d-none"
                                   type="button"
                                   value="取消"
                                   onclick="toggleEditMode()" />

                            <input id="edit-button"
                                   class="btn btn-info lh-backstage-submit-btn"
                                   type="button"
                                   value="編輯"
                                   onclick="toggleEditMode()" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- 修改密碼 Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="changePasswordLabel">修改密碼</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="changePasswordForm" method="post" action="/Member/ChangePassword">
                        <div class="mb-3">
                            <label for="currentPasswordInput" class="col-form-label">目前密碼</label>
                            <input type="password" class="form-control" id="currentPasswordInput" required />
                        </div>

                        <div class="mb-3">
                            <label for="newPasswordInput" class="col-form-label">新密碼</label>
                            <input type="password" class="form-control" id="newPasswordInput" required />
                        </div>
                        <div class="mb-3">
                            <label for="confirmPasswordInput" class="col-form-label">確認新密碼</label>
                            <input type="password" class="form-control" id="confirmPasswordInput" required />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn lh-backstage-submit-btn" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn lh-backstage-submit-btn" onclick="submitPasswordChange()">送出</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
     data-bs-delay="2000" style="position: fixed; top: 50px; right: 20px; z-index: 20;"
     data-message="@message" data-header="@header">
    <div class="toast-header">
        <img src="~/image/logo_imgs/talkingtopia logo_final.png" class="rounded me-2 img-fluid w-25" alt="...">
        <strong class="me-auto ">@header</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body p-2 text-center my-3 fs-3" style="color: #ff5f5f;">
        @message
    </div>
</div>

@section topCSS {
    <link rel="stylesheet" href="~/css/backstage.css" />
}
@section endJS {
    <script src="~/js/change-profile-img.js"></script>
    <script src="~/js/memberdata.js"></script>
}