@using Web.ViewModels
@model BookingListViewModel

<partial name="_BannerPartial" />
<div class="container lh-backstage mt-5" id="app">
    <div class="row">
        <div class="col-12 lh-backstage-main-section">
            <div class="lh-backstage-tutor-section position-relative w-100 mb-5"
                 id="lh-backstage-tutor-section">
                <ul class="nav nav-tabs">
                    <li class="nav-item lh-backstage-nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           data-bs-toggle="tab"
                           href="#lh-backstage-course-detail">
                            課程明細
                        </a>
                    </li>
                    <li class="nav-item lh-backstage-nav-item">
                        <a class="nav-link"
                           data-bs-toggle="tab"
                           href="#lh-backstage-history-course">歷史課程</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="container tab-pane fade show active"
                         id="lh-backstage-course-detail">
                        <div class="lh-backstage-transaction-table position-relative">
                            <button class="btn lh-backstage-submit-btn mt-3 li-backstage-publish-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#lh-backstage-tutor-data-edit">
                                上架課程
                            </button>
                            <table class="lh-backstage-transaction-detail col-12 mt-5"
                                   border="1">
                                <thead>
                                    <tr>
                                        <td>更新日期</td>
                                        <td>課程名稱</td>
                                        <td>課程內容</td>
                                        <td>體驗價</td>
                                        <td>25分鐘</td>
                                        <td>50分鐘</td>
                                        <td>編輯</td>
                                    </tr>
                                </thead>
                                <tbody border="1">
                                    <tr>
                                        <td>2024-08-04</td>
                                        <td>唬爛嘴教學</td>
                                        <td>教你成為國畫大師</td>
                                        <td>NT$399</td>
                                        <td>NT$800</td>
                                        <td>NT$1,500</td>
                                        <td>
                                            <button class="btn lh-backstage-submit-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#lh-backstage-tutor-data-edit">
                                                編輯
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container tab-pane fade"
                         id="lh-backstage-history-course">
                        <div class="lh-backstage-transaction-table">
                            <table class="lh-backstage-transaction-detail col-12 mt-5"
                                   border="1">
                                <thead>
                                    <tr>
                                        <td>上課時間</td>
                                        <td>課程名稱</td>
                                        <td>課程內容</td>
                                        <td>學員名稱</td>
                                        <td>金額(台幣)</td>
                                    </tr>
                                </thead>
                                <tbody border="1">
                                    @foreach (var item in Model.BookingList)
                                    {
                                        <tr>
                                            <td>@item.BookingDate.ToShortDateString()</td>
                                            <td>@item.Title</td>
                                            <td>@item.SubTitle</td>
                                            <td>@item.MemberName</td>
                                            <td>NTD$ @item.TotalPriceNTD.ToString("#,###")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- screen modal for 課程明細-->
    <div class="modal fade"
         id="lh-backstage-tutor-data-edit"
         tabindex="-1"
         aria-labelledby=""
         aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content container">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="exampleModalFullscreenLabel">
                        課程明細
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="lh-backstage-lh-backstage-real-data">
                        <div class="row mb-2">
                            <div class="col-12 col-md-2">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput1"
                                           placeholder=""
                                           value="語言" />
                                    <label for="floatingInput1">課程分類(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput2"
                                           placeholder=""
                                           value="中文" />
                                    <label for="floatingInput2">課程科目(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="form-floating">
                                    <input type="file"
                                           class="form-control"
                                           id="floatingInput3"
                                           aria-describedby="inputGroupFileAddon04"
                                           aria-label="Upload"
                                           value="中文" />
                                    <label for="floatingInput3">請上傳一張自介照片(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="form-floating">
                                    <input type="file"
                                           class="form-control"
                                           id="floatingInput4"
                                           aria-describedby="inputGroupFileAddon04"
                                           aria-label="Upload"
                                           value="中文" />
                                    <label for="floatingInput4">請上傳一支自介影片(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="file"
                                           class="form-control"
                                           id="floatingInput5"
                                           aria-describedby="inputGroupFileAddon04"
                                           aria-label="Upload"
                                           multiple />
                                    <label for="floatingInput5">請上傳多張課程影片(必填)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput5"
                                           placeholder=""
                                           value="最本土的臺灣生活會話" />
                                    <label for="floatingInput5">課程名稱(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput6"
                                           placeholder=""
                                           value="教你成為本土最會畫虎畫蘭的國畫大師" />
                                    <label for="floatingInput6">課程簡述(必填)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <div id="editor1" class="col-12">
                                        <p style="color: #999">請輸入教師個人介紹</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <div id="editor2" class="col-12">
                                        <p style="color: #999">請輸入詳細課程介紹</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput7"
                                           placeholder=""
                                           value="399" />
                                    <label for="floatingInput7">金額(台幣/體驗價/堂)(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput8"
                                           placeholder=""
                                           value="517" />
                                    <label for="floatingInput8">金額(台幣/25分鐘/堂)(必填)</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingInput9"
                                           placeholder=""
                                           value="862" />
                                    <label for="floatingInput9">金額(台幣/50分鐘/堂)(必填)</label>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary lh-backstage-submit-btn"
                            data-bs-dismiss="modal">
                        儲存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section topCSS {
    <link href="~/lib/Quill/css/quill.snow.css?v=202408211917" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/backstage.css?v=202408211917" />
}
@section endJS {
    <script src="~/lib/Quill/JS/quill.js"></script>
    <script src="~/js/editor.js"></script>
}