@* @model CourseInfoViewModel

@{
    Course course = Model;
}


<div class="lh-tutor-card p-2 m-2 m-md-4 position-relative">
    <div class="lh-tutor-card__main d-flex pb-3 pb-md-0 pt-md-2">
        <div class="lh-tutor-images col-3 col-sm-2 d-flex flex-column align-items-center">
            <div class="lh-tutor-images__head position-relative">
                <img class="tutor-headshot rounded-circle"
                     src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" />
                <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                     src="~/image/flag_imgs/uk_flag.png" />
                <div class="tutor-online-status"></div>
            </div>
            <div class="lh-tutor-follow mt-2">+關注</div>
        </div>
        <div class="lh-tutor-description flex-grow-1 col-9 col-md-7 px-2 px-md-3">
            <div class="tutor-description-title-wrapper d-flex">
                <a class="tutor-description-title" href="#">
                    @course.Title
                </a>
                <span class="tutor-badge ms-1 badge-tooltip" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="僅有8.5%的優質教師"
                      data-bs-custom-class="custom-tooltip">
                    <img src="~/image/tutor_badge_imgs/tutor_badge.webp">
                </span>
            </div>
            <div class="tutor-subtitle my-1">@course.SubTitle</div>
            <div class="course-pricing d-flex justify-content-between mb-2 d-md-none">
                <div class="fifty-min-course-pricing">
                    NT$@course.FiftyMinPriceNTD <span class="text">/ 50分鐘</span>
                </div>
                <div class="trail-course-pricing">NT$@course.TrialPriceNTD <span class="text">/ 體驗課</span></div>
            </div>
            <div class="tutor-received-feedback d-flex gap-1 my-md-2">
                <div class="tutor-ranking"><i class="bi bi-star-fill pe-1"></i><span>4.99</span></div>
                <div>・</div>
                <div class="tutor-total-reviews"><span class="pe-1">@course.ReceivedReviews</span>個評論</div>
            </div>
            <p class="tutor-intro-text mb-2">
                @course.Description
            </p>
            <a href="#" class="tutor-viewmore d-none d-md-block mb-md-1">瀏覽更多</a>
        </div>
        <div class="lh-tutor-contact d-none d-md-flex flex-column col-md-3 ps-md-2 gap-2">
            <div class="course-pricing d-flex">
                <div class="trail-course-pricing col-6">
                    NT$@course.TrialPriceNTD <div class="text">體驗課</div>
                </div>
                <div class="fifty-min-course-pricing col-6">
                    NT$@course.FiftyMinPriceNTD <div class="text">50分鐘</div>
                </div>
            </div>
            <button type="button" class="lh-tutor-card__book-btn mx-auto my-1 col-11" data-bs-toggle="modal"
                    data-bs-target="#bookingTableModal">
                預約體驗
            </button>
            <button type="button" class="lh-tutor-card__contact-tutor-btn mx-auto my-1 col-11"
                    data-bs-toggle="modal" data-bs-target="#contactTutorModal">
                聯繫老師
            </button>
        </div>
    </div>
    <div class="lh-tutor-card__preview mt-3 mb-2 col-12 d-md-none">
        <p class="tutor-intro-text">
            @course.Description
        </p>
    </div>
    <div class="lh-tutor-card__book d-flex justify-content-center">
        <button type="button" class="lh-tutor-card__book-btn m-1 p-2 w-100 d-md-none" data-bs-toggle="modal"
                data-bs-target="#bookingTableModal">
            預約立即體驗
        </button>
    </div>
    <div class="lh-tutor-card-floating-popup px-2 py-3 position-absolute d-none">
        <div class="tutor-intro-media-container col-12 mx-auto">
            <a href="#" class="btn btn-default p-0" data-bs-toggle="modal" data-bs-target="#videoModal"
               data-bs-video="https://www.youtube.com/embed/3XToqdAcm9g">
                <img src="~/image/thumb_nails/tutor001_thumbnail.jpg" alt="">
            </a>
            <img src="https://picsum.photos/id/210/350/220" alt="">
            <img src="https://picsum.photos/id/250/350/220" alt="">
        </div>
        <div class="arrow_prev position-absolute"><i class="fa-solid fa-angle-left"></i></div>
        <div class="arrow_next position-absolute"><i class="fa-solid fa-angle-right"></i></div>
        <p class="mt-2 mb-1">*日期以 台北 GMT +8:00 顯示</p>
        <div class="tutor-timeslot-table col-11 mx-auto">
            <div class="row">
                <div class="weekday col-3 p-0"></div>
                <div class="weekday col p-0">週日</div>
                <div class="weekday col p-0">週一</div>
                <div class="weekday col p-0">週二</div>
                <div class="weekday col p-0">週三</div>
                <div class="weekday col p-0">週四</div>
                <div class="weekday col p-0">週五</div>
                <div class="weekday col p-0">週六</div>
            </div>
            <div class="row">
                <div class="timeslot col-3 p-0">
                    上午 <div class="time">06:00-12:00</div>
                </div>
                <div class="morning sunday col p-0"></div>
                <div class="morning monday  col p-0"></div>
                <div class="morning tuesday occupied col p-0"></div>
                <div class="morning wednesday col p-0"></div>
                <div class="morning thursday col p-0"></div>
                <div class="morning friday col p-0"></div>
                <div class="morning saturday col p-0"></div>
            </div>
            <div class="row">
                <div class="timeslot col-3 p-0">
                    下午 <div class="time">12:00-18:00</div>
                </div>
                <div class="afternoon sunday col p-0"></div>
                <div class="afternoon monday  col p-0"></div>
                <div class="afternoon tuesday col p-0"></div>
                <div class="afternoon wednesday available col p-0"></div>
                <div class="afternoon thursday col p-0"></div>
                <div class="afternoon friday col p-0"></div>
                <div class="afternoon saturday col p-0"></div>
            </div>
            <div class="row">
                <div class="timeslot col-3 p-0">
                    傍晚 <div class="time">18:00-24:00</div>
                </div>
                <div class="evening sunday col p-0"></div>
                <div class="evening monday  col p-0"></div>
                <div class="evening tuesday col p-0"></div>
                <div class="evening wednesday col p-0"></div>
                <div class="evening thursday col p-0"></div>
                <div class="evening friday col p-0"></div>
                <div class="evening saturday col p-0"></div>
            </div>
            <div class="row">
                <div class="timeslot col-3 p-0">
                    深夜 <div class="time">00:00-06:00</div>
                </div>
                <div class="midnight sunday col p-0"></div>
                <div class="midnight monday  col p-0"></div>
                <div class="midnight tuesday col p-0"></div>
                <div class="midnight wednesday col p-0"></div>
                <div class="midnight thursday col p-0"></div>
                <div class="midnight friday col p-0"></div>
                <div class="midnight saturday col p-0"></div>
            </div>
        </div>
        <div class="time-slot-table-rule mt-2 d-flex justify-content-end gap-3 pe-1">
            <div class="d-flex align-items-center">
                <span class="color-block occupied me-1"></span>時段已被預約
            </div>
            <div class="d-flex align-items-center">
                <span class="color-block available me-1"></span>尚有可預約時段
            </div>
        </div>
        <button type="button" class="view-more-btn btn mt-3 p-2 w-100">
            瀏覽更多
        </button>
    </div>
</div> *@