@{
    var courseId = ViewBag.CourseId;
    var senderId = ViewBag.SenderId;
    var senderName = ViewBag.SenderName;
    var receiverId = ViewBag.ReceiverId;
    var receiverName = ViewBag.ReceiverName;
    var headShotImage = ViewBag.HeadShotImage;
    var courseTitle = ViewBag.CourseTitle;
    var courseSubTitle = ViewBag.CourseSubTitle;
    string path;
    if (courseId != 0)
    {
        path = $"~/Course/CourseMainPage?courseId={courseId}";
    }
    else
    {
        path = "/";
    }
}

<div class="container">
    <div class="row">
        <div class="message-window col-12 col-md-3">
            <div class="message-header">
                <h5>個人檔案</h5>
            </div>
            <div class="message-list">
                <div class="message-item">
                    <a href="@path">
                        <img class="profile-img" src="@headShotImage" alt="User" />
                    </a>
                    <h6 class="profile-name">@receiverName</h6>
                    <p>@courseTitle</p>
                    <p>@courseSubTitle</p>
                </div>
            </div>
        </div>
        <div class="chat-container col-12 col-md-9 " id="chat">
            <!-- 訊息顯示 -->
            <ul class="chat-body" id="messagesList">
                <li class="chat-message d-flex">
                    <div class="message-content">
                        <strong>@receiverName</strong>
                        <p>Hi， @senderName ！很高興你的來訊😊</p>
                    </div>
                </li>
            </ul>
            <!-- 輸入框 -->
            <div class="chat-input col-12">
                <textarea id="messageInput"
                          placeholder="請輸入訊息 (換行請長按Shift鍵後按Enter鍵)"></textarea>
                <button id="sendButton">➤</button>
            </div>
        </div>
    </div>
</div>



@section topCSS {
    <link href="~/css/message.css" rel="stylesheet" />
}
@section endJS {
    <script>
        window.senderId = "@Html.Raw(senderId)";
        window.senderName = "@Html.Raw(senderName)";
        window.receiverId = "@Html.Raw(receiverId)";
        window.receiverName = "@Html.Raw(receiverName)";
    </script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js" defer></script>
}
