@model ShoppingCartCheckListViewModel
@section topCSS {
    <link rel="stylesheet" href="~/css/ShoppingCartCheck.css" />
}

<div class="container">
    <div class="container-title">
        <h2>購物車</h2>
    </div>
    <div class="cart-list">
        <table class="tbwidth">
            <thead>
                <tr>
                    <th>商品</th>
                    <th>科目</th>
                    <th>類别</th>
                    <th>時間</th>
                    <th>堂數</th>
                    <th>小計</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCartCheckList)
                {
                    <tr>
                        <td data-label="商品">
                            <a href="#" class="d-flex align-items-center">
                                <img src="https://picsum.photos/50/50/?random=10" align="middle"
                                     class="teacher-img-img" style="width: 50px;" /><p class="flex-grow-1 m-0" id="productInfo">@item.CourseTitle</p>
                            </a>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M170.5 51.6L151.5 80l145 0-19-28.4c-1.5-2.2-4-3.6-6.7-3.6l-93.7 0c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80 368 80l48 0 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-8 0 0 304c0 44.2-35.8 80-80 80l-224 0c-44.2 0-80-35.8-80-80l0-304-8 0c-13.3 0-24-10.7-24-24S10.7 80 24 80l8 0 48 0 13.8 0 36.7-55.1C140.9 9.4 158.4 0 177.1 0l93.7 0c18.7 0 36.2 9.4 46.6 24.9zM80 128l0 304c0 17.7 14.3 32 32 32l224 0c17.7 0 32-14.3 32-32l0-304L80 128zm80 64l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16z" />
                            </svg>
                        </td>
                        <td data-label="科目">
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">會計</option>
                                <option value="2" selected>@item.CourseSubject</option>
                                <option value="3">英文</option>
                            </select>
                        </td>
                        <td data-label="類別">
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">@item.CourseCategory</option>
                                <option value="2">國中</option>
                            </select>
                        </td>
                        <td data-label="時間">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>@item.CourseLength</option>
                                <option value="1">25分鐘</option>
                                <option value="2">50分鐘</option>
                            </select>
                        </td>
                        <td data-label="堂數">
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">5xNT1000/堂</option>
                                <option value="2" selected>@item.CourseQuantity x NT @item.UnitPrice /堂</option>
                            </select>
                        </td>
                        <td data-label="小計">
                            <span class="price discount">NT$@item.SubtotalNTD</span><br>
                            <p class="discount-info">省NT$200</p>
                        </td>
                        <td class="del" data-label="刪除">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M170.5 51.6L151.5 80l145 0-19-28.4c-1.5-2.2-4-3.6-6.7-3.6l-93.7 0c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80 368 80l48 0 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-8 0 0 304c0 44.2-35.8 80-80 80l-224 0c-44.2 0-80-35.8-80-80l0-304-8 0c-13.3 0-24-10.7-24-24S10.7 80 24 80l8 0 48 0 13.8 0 36.7-55.1C140.9 9.4 158.4 0 177.1 0l93.7 0c18.7 0 36.2 9.4 46.6 24.9zM80 128l0 304c0 17.7 14.3 32 32 32l224 0c17.7 0 32-14.3 32-32l0-304L80 128zm80 64l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16z" />
                            </svg>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="coupon-list">
        <div class="coupon-title">
            <h3>選擇優惠券</h3>
        </div>
        <div class="coupon">
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                @foreach (var item in Model.ShoppingCartCheckList)
                { 
                <option value="@item.CourseId">@item.Coupon 折價100塊</option>
                @* <option value="2">整張單據95折</option> *@
                }
            </select>
        </div>
    </div>
    <div class="payment-list">
        <div class="payment-title">
            <h3>選擇付款方式</h3>
        </div>
        <div class="payment row-payment">
            <div class="card card-payment col-md-4 col-12">
                <div class="card-body">
                    <h5 class="card-title">信用卡付款</h5>
                    <p class="card-text">Visa, Mastercard, JCB</p>
                </div>
            </div>
            <!--<div class="card card-payment col-md-2 col-12">
                <div class="card-body">
                    <h5 class="card-title">分3期0利率</h5>
                    <p class="card-text">信用卡付款</p>
                </div>
            </div>
            <div class="card card-payment col-md-2 col-12">
                <div class="card-body">
                    <p class="card-text">滿1500台幣</p>
                    <h5 class="card-title">分6期0利率</h5>
                    <p class="card-text">信用卡付款</p>
                </div>
            </div>
             <div class="card card-payment col-md-2 col-12">
                <div class="card-body">
                    <img src="https://picsum.photos/100/30/?random=11" />
                    <p class="card-text">適用台灣</p>
                </div>
            </div> -->
            <div class="card card-payment col-md-4 col-12">
                <div class="card-body">
                    <h5 class="card-title">超商繳款</h5>
                    <p class="card-text">適用台灣</p>
                </div>
            </div>
            <div class="card card-payment col-md-4 col-12">
                <div class="card-body">
                    <h5 class="card-title">ATM轉帳</h5>
                    <p class="card-text">適用台灣</p>
                </div>
            </div>
        </div>
    </div>
    <div class="invoice-list">
        <div class="invoice-title">
            <h3>開立統一發票</h3>
        </div>
        <div class="container invoice">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                    <p>需開立統一編號發票（未填寫統編將自動開立二聯式發票）</p>
                </label>
            </div>
            <!-- d-none -->
            <div class="container invoice-input">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">統一編號</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="請輸入統一編號共8碼" />
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">發票寄送信箱</label>
                        <input type="password" class="form-control" id="inputPassword4"
                               placeholder="統編電子發票會寄送到這個信箱" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="shop-list">
        <div class="shop-title">
            <h3>購物明細</h3>
        </div>
        <div class="shop-content">
            <div class="card">
                <div class="card-body">
                    @{decimal total = 0;}
                    @foreach (var item in Model.ShoppingCartCheckList)
                    { 
                    <div class="card-teacher">
                        <div class="card-teacher-info">
                            <p class="card-title teacher-info">
                                🔥@item.FullName💼@item.CourseTitle🎯
                            </p>
                            <p class="card-text teacher-classroom">
                                課程內容: @item.CourseSubject | @item.CourseLength 分鐘 | @item.CourseQuantity 堂
                            </p>
                        </div>
                        <div class="card-teacher-price">
                            <p>NT$@item.SubtotalNTD</p>
                        </div>
                        </div>
                        total += @item.SubtotalNTD;
                    }
                    <div class="shop-hori-line"></div>
                    <div class="card-total-price">
                        <div class="total-price-text">
                            <p class="">總價：</p>
                        </div>
                        <div class="total-price">
                            <p>NT$@total</p>
                        </div>
                    </div>
                    <div class="shop-hori-line"></div>
                    <div class="shop-deadline pt-3">
                        <p">預約截止日2024/11/06</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*     <div class="remark">
        <p>
            100% 滿意保證：當您不滿意教師時，能免費轉為 TalkingTopia
            幣更換教師，如因教師品質問題造成體驗不佳可全額退款總金額包含服務費。
        </p>
    </div> *@
    <div class="btn-goback">
        <button class="return-order_btn text-white" type="button">確認並支付</button>
        <br>
        <br>
    </div>

</div>